I<form class="form-signin">
    <h1 class="h3 n-3 foot-weight-normal">Please sign in</h1> 
    <label for="Name" class="sr-only">First Date</label> 
    <input type="text" id="Name" class="form-control" placeholdere="First name' requirede" autofocuse="">
     <label for="Name" class="sr-only">Last Name</label> 
     <input type="text" id="Name" class="form-control" placeholder="Last name" required autofocus=""> 
     <label for="inputemail" class="sr-only"> Email address</label> 
     <input type="email" id="inputEmail" class="form-control" placeholdere="Email address required" autofocus=""> <label for="inputPassword" class="sr-only">Password</label> <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <button class="btn bts-lg btn-primary btn-block" type="submit">SignUp</button>
    <p class="mt-5 m-3 text-muted">I Have Account Already <a [routerLink]="['../../auth/login']" href="#" >Login</a>
    </p> 
</form>
    