<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="h3">Latest News</h1>
    </div>
    <div class="col-md-6 text-right mt-3">
      <a href="#" class="btn btn-primary" [routerLink]="['../add']"><i class="fa fa-plus fa-large"></i></a>
    </div>
  </div>



<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ post.title }}</td>
          <td>{{ (post.description.length > 50) ? (post.description | slice:0:50) + '...' : post.description }}</td>
          <td style="width: 150px">
            <a href="#" class="btn btn-default text-primary mr-1" [routerLink]="['../show', post.id]">
              <i class="fa fa-eye"></i></a>
            <a href="#" class="btn btn-default text-success mr-1" [routerLink]="['../edit', post.id]">
              <i class="fa fa-edit"></i></a>
            <a href="javascript:;" class="btn btn-default text-danger">
              <i class="fas fa-trash" (click)="deletePost(deleteModal, post.id)" ></i></a>
          </td>

        </tr>
      
      </tbody>
    </table>
  </div>

<!-- delet post modal -->
  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Post deletion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete<span class="text-primary">this post</span>?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancle click')">Cancle</button>
      <button type="button" class="btn  btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
  </ng-template>





</div>