



    <div class="container-fluid p-0"> 
        <section class="resume-section p-lg-5 d-flex align-items-center" id="about">
             <div class="w-100"> 
            <h1 class="mb-0">Angular<span class="text-primary">KEEPER</span> </h1>
                <div class="subheading mb-5">Keeb Your Interested . by
                    <a href="http://Abharworks.com" target="_blank">Abharworks.com</a>
                </div> 
                <p class="lead mb-5"> Prom Setup to Deployment with a complete project, this course covers it all! You'll learn all about Components, Directives, Services, Forms, Http Access, Authentication, Optimizing an Angular App with Modules and offline Compilation and much more - and in the end: You'll learn how to deploy an application! </p>
                <a href="#" class="btn btn-warning">Login</a>
                <a href="#" class=" btn-warning">Sign Up</a>
             </div> 
            </section>

            <hr class="m-0"> 
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills"> 
                <div class="w-100">
                <h2 class="mb-5">Description</h2>
                <div class="subheading mb-3">This Course uses : </div>
                 <ul class="list-inline dev-icons"> 
                        <li class="list-inline-item">
                        <i class="fab fa-html5"></i></li> 
                        <li class="list-inline-item">
                        <i class="fab fa-css3-alt"></i></li> 
                        <li class="list-inline-item">
                        <i class="fab fa-angular"></i></li> 
                        <li class="list-inline-item">
                        <i class="fab fa-sass"></i></li> 
                        <li class="list-inline-item">
                        <i class="fab fa-js"></i></li> 
                        <li class="list-inline-item">
                        <i class="fab fa-bootstrap"></i></li> 
                        <li class="list-inline-item">
                        <i class="fab fa-font-awesome"></i></li> 
                        <li class="list-inline-item"><i class="fab fa-npm"></i>
                        </li>
                    </ul>
                <div class="subheading mb-3">who this course is for:</div>
                <ul class="fa-ul mb-0"> <li>
                    <i class="fa-li fa fa-check"></i> Newcomer as well as experienced frontend developers interested in learning a modern JavaScript framework </li> <li>
                    <i class="fa-li fa fa-check"></i>
                    This course is for everyone interested in learning a state-of-the-art frontend JavaScript framework </li> <li>
                    <i class="fa-li fa fa-check"></i>
                    Taking this course will enable you to be amongst the first to gain a very solid understanding of Angular </li> 
                </ul> 
            </div> 
        </section>
        
    </div>
                    
    
    